# Core functionality - changes here should be rare!
/src/app.py                   @promptmike
/src/backend/database.py      @promptmike
/src/backend/routers/auth.py  @promptmike

# The frontend will need refactored soon to be more object oriented.
/src/static/   @promptmike
